/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* Neon Text */
.neon-text {
  color: #0ff;
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff;
}

/* Neon Border */
.neon-border {
  border-color: #0ff;
  box-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 30px #0ff;
}

/* Admin Card */
.admin-card {
  background: rgba(25, 25, 25, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  transition: transform 0.2s ease-in-out;
}

.admin-card:hover {
  transform: scale(1.05);
}

/* Loading Animation */
@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.animate-loading {
  background-color: #0ff;
  animation: loading 5s linear infinite;
}

/* Spinner Animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Responsive Design */
@media (max-width: 768px) {
  .admin-card {
    max-width: 100%;
    padding: 8px;
  }

  .neon-text {
    font-size: 1.5rem;
  }
}

.gradient-button {
  background: linear-gradient(
    to right,
    #ffffffb1,
    #ffffff6b,
    #ffffff23,
    #0000ff00,
    #0000ff00,
    #0000ff00,
    #0000ff00,
    #0000ff00,
    #0000ff00,
    #0000ff00
  ); /* Custom gradient */
}

/* Player Volume Controler CSS */

/* Container for the slider */
.volume-slider-container {
  display: flex;
  align-items: center;
  width: 300px; /* Adjust width as needed */
}

/* Styling the range input */
.volume-slider {
  -webkit-appearance: none; /* Remove default styles in WebKit browsers */
  width: 100%;
  height: 8px; /* Track height */
  background: #444; /* Track color */
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  margin: 0;
}

/* Styling the slider thumb */
.volume-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb styling in WebKit browsers */
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #f0f0f0; /* Thumb color */
  border-radius: 50%; /* Make thumb circular */
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); /* Optional shadow for better visibility */
}

.volume-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.volume-slider::-ms-thumb {
  width: 20px;
  height: 20px;
  background: #f0f0f0;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Styling the slider track */
.volume-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  background: #444;
  border-radius: 5px;
}

.volume-slider::-moz-range-track {
  width: 100%;
  height: 8px;
  background: #444;
  border-radius: 5px;
}

.volume-slider::-ms-track {
  width: 100%;
  height: 8px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Styling for the track when focused */
.volume-slider:focus::-webkit-slider-runnable-track {
  background: #666;
}

.volume-slider:focus::-moz-range-track {
  background: #666;
}

.volume-slider:focus::-ms-track {
  background: #666;
}

/* BUTTON CSS */

@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

:root {
  --yellow-color: #fcee09;
  --red-color: #ff003c;
  --black-color: #050a0e;
  --blue-color: #00f0ff;
  --white-color: #fafafa;
  --neon-pink: #ff007f;
  --neon-blue: #00f0ff;
  --dark-bg: #050a0e;
  --light-bg: #0d0d0d;
  --accent-color: #fcee09;
  --red-darker: #40000f;
}

.btn {
  width: 230px;
  height: 60px;
  border: 0;
  outline: none;
  background-color: var(--black-color);
  cursor: pointer;
  position: relative;
  font-family: Tomorrow, sans-serif;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: var(--black-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: var(--yellow-color);
  clip-path: polygon(92% 0, 100% 25%, 100% 100%, 8% 100%, 0% 75%, 0 0);
}

.btn--secondary {
  background-color: var(--yellow-color);
}

.btn--secondary .btn__content {
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white-color);
}

.btn__label {
  font-size: 0.4rem;
  position: absolute;
  bottom: -1px;
  right: 8%;
  padding: 0 5px;
  background-color: var(--yellow-color);
  z-index: 3;
  border-left: 1px solid var(--blue-color);
}

.btn--secondary .btn__label {
  background-color: var(--black-color);
  color: var(--white-color);
}

.btn__glitch {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--yellow-color);
  filter: drop-shadow(-2px 3px #67e3f3) drop-shadow(-1px -3px #02d8f3)
    drop-shadow(2px 1px #02d8f3);
}

.btn--secondary .btn__glitch {
  background-color: var(--black-color);
}

.btn:hover .btn__glitch,
.btn:hover .btn__content::after,
.btn:focus .btn__glitch,
.btn:focus .btn__content::after {
  display: block;
  animation: glitch-animation 2s linear 0s infinite;
}

/* secret trick */
@keyframes glitch-animation {
  0% {
    opacity: 1;
    transform: translateZ(0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }

  2% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  6% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(5px);
  }

  8% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(-5px);
  }

  9% {
    clip-path: polygon(0 78%, 100% 78%, 100% 100%, 0 100%);
    transform: translate(0);
  }

  10% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translate3d(5px, 0, 0);
  }

  13% {
    clip-path: polygon(0 54%, 100% 54%, 100% 44%, 0 44%);
    transform: translateZ(0);
  }

  13.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  15% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  20% {
    clip-path: polygon(0 60%, 100% 60%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  20.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  25% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(5px, 0, 0);
  }

  30% {
    clip-path: polygon(0 85%, 100% 85%, 100% 40%, 0 40%);
    transform: translate3d(-5px, 0, 0);
  }

  30.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }

  35% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  40% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(5px);
  }

  45% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(-5px);
  }

  50% {
    clip-path: polygon(0 63%, 100% 63%, 100% 80%, 0 80%);
    transform: translate(0);
  }

  55% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translate3d(5px, 0, 0);
  }

  60% {
    clip-path: polygon(0 10%, 100% 10%, 100% 0, 0 0);
    transform: translateZ(0);
    opacity: 1;
  }

  60.1% {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }

  to {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    opacity: 1;
  }
}

/* Base styles for the slider */
#volumeSlider {
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  width: 80%; /* Full width of the container */
  height: 8px; /* Height of the slider track */
  background: var(--black-color); /* Background color of the track */
  border-radius: 5px; /* Rounded corners for the track */
  outline: none; /* Remove default outline */
  opacity: 0.9; /* Slightly transparent */
  position: relative; /* Position relative for pseudo-element */
}

/* WebKit browsers (Chrome, Safari) */
#volumeSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px; /* Height of the track */
  background: var(--black-color); /* Background color of the track */
  border-radius: 5px; /* Rounded corners for the track */
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling */
  height: 20px; /* Height of the thumb */
  width: 20px; /* Width of the thumb */
  border-radius: 10%; /* Round shape for the thumb */
  background: var(--yellow-color); /* Color of the thumb */
  cursor: pointer; /* Pointer cursor on hover */
  margin-top: -7px; /* Center the thumb on the track */
}

/* Firefox */
#volumeSlider::-moz-range-track {
  width: 100%;
  height: 8px; /* Height of the track */
  background: var(--black-color); /* Background color of the track */
  border-radius: 5px; /* Rounded corners for the track */
}

#volumeSlider::-moz-range-thumb {
  height: 20px; /* Height of the thumb */
  width: 20px; /* Width of the thumb */
  border-radius: 50%; /* Round shape for the thumb */
  background: var(--blue-color); /* Color of the thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Internet Explorer and Edge */
#volumeSlider::-ms-track {
  width: 100%;
  height: 8px; /* Height of the track */
  background: transparent; /* Remove default track styling */
  border-color: transparent; /* Remove default border */
  color: transparent; /* Remove default color */
}

#volumeSlider::-ms-fill-lower {
  background: var(
    --blue-color
  ); /* Background for the lower part of the track */
  border-radius: 5px; /* Rounded corners for the track */
}

#volumeSlider::-ms-fill-upper {
  background: var(
    --black-color
  ); /* Background for the upper part of the track */
  border-radius: 5px; /* Rounded corners for the track */
}

#volumeSlider::-ms-thumb {
  height: 20px; /* Height of the thumb */
  width: 20px; /* Width of the thumb */
  border-radius: 50%; /* Round shape for the thumb */
  background: var(--blue-color); /* Color of the thumb */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Additional styling for different slider states */
#volumeSlider:active::-webkit-slider-thumb {
  background: var(--yellow-color); /* Change thumb color on active */
}

/* Progress Bar CSS */
.filled-box {
  background-color: #00ff95; /* Green color for filled boxes */
}

.empty-box {
  background-color: #2a2a2a30; /* Dark gray for empty boxes */
}

/* Animation CSS */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blink {
  animation: blink-animation 1s step-start infinite;
}

@keyframes blink-animation {
  0%,
  100% {
    background-color: transparent; /* Or a color to represent "empty" */
  }
  50% {
    background-color: #00ff95; /* Or a color to represent "filled" */
  }
}
